<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="clicked" (click)="clicked=!clicked" #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngIf="db.user" [routerLink]="['games']">Games</a>
            <a mat-list-item [routerLink]="['about']">About</a>
            <a mat-list-item *ngIf="!db.user" [routerLink]="['login']">Login</a>
            <a mat-list-item *ngIf="!db.user" [routerLink]="['signup']">Registro</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" (click)="clicked=!clicked" aria-label="Toggle sidenav" mat-icon-button>
         <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span (click)="drawer.toggle()" style="text-align: center">DWEC-Luna</span>
            <span id="login" *ngIf="db.user">Bienvenido/a, {{db.user.key$}}</span>
            <span id="login" style="cursor: pointer;" *ngIf="db.user" (click)="logOut()">Cerrar Sesión</span>
        </mat-toolbar>
        <!-- Add Content Here (click)="drawer.toggle()" -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>