.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

#login {
    color: aliceblue;
    text-decoration: none;
    margin-left: auto;
    margin-right: 0px;
}

#registro {
    color: aliceblue;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 0px;
}